[run]
omit =
    */migrations/*,
    */tests.py
    */__init__.py
    */apps.py
    .venv
    manage.py
    imagersite/wsgi.py


source =
    imagersite
    imager_profile

[report]
show_missing = True
