{% extends 'imagersite/base.html' %}


{% block title %}User Profile Page{% endblock %}


{% block main %}

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <br />
            <img class="img-thumbnail" src="{{ photo.url }}" alt="{{ photo.title }}"> </a>
        </div>
    </div>
    <br />
    <br />
    <ul class="list-group">
        <li class="list-group-item">Owner: {{ album.user.username }}</li>
        <li class="list-group-item">Title: {{  album.title }}</li>
        <li class="list-group-item">Description: {{ album.description  }}</li>
    </ul>
</div>

<br />
{% endblock %}