{% extends 'imagersite/base.html' %}


{% block title %}User Profile Page{% endblock %}


{% block main %}

<div class="container">
    <img class="img-fluid img-responsive" src="{{ image.image.url }}" alt="{{ title }}"> </a>
    <br />
    <br />
    <ul class="list-group">
        <li class="list-group-item">Owner: {{ username }}</li>
        <li class="list-group-item">Title: {{ title }}</li>
        <li class="list-group-item">Description: {{ description }}</li>
    </ul>
</div>

<br />
{% endblock %}