{% extends 'imagersite/base.html' %}


{% block title %}User Profile Page{% endblock %}:w


{% block main %}

<div class="container">

    <h1 class="my-4 text-center text-lg-left">{{ username }}'s Albums</h1>

    <ul class="list-group">
      <li class="list-group-item">Total albums: {{ albums }}</li>
      <li class="list-group-item">Public albums: {{ public }}</li>
      <li class="list-group-item">Shared albums: {{ shared }}</li>
      <li class="list-group-item">Private albums: {{ private }}</li>
    </ul> 


</div>
<br />
{% endblock %}
